.body_adotame {
    margin-top: 4.5rem;
}

.grid-adop {
    max-width: 100%;
    display: grid;
    width: 80%;
    height: 500px;
    margin: 10px auto;
    grid-column: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:  
    "item_1 item_1 item_1"
    "item_2 item_2 item_2"
    "item_3 item_3 item_3";
    margin-bottom: 300px;
}

.item_1 {
    grid-area: item_1;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    img {
        margin-bottom: 15px;
    }
}

.item_2 {
    grid-area: item_2;

    p {
    text-align: center;
    }

    h3 {
        text-align: center;
        padding-right: 35px;
    }
}

.item_3 {
    grid-area: item_3;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 15px;
        margin-bottom: 50px;
    }
}

.item {
    font-size: 2rem;
    color: #fff;
    font-family: $fuente-principal;
    text-align: center;
}

h4 {
    font-weight: 600;
    color: $salmon;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h5 {
    font-weight: 800;
    font-size: $fuente-grande;
    color: $amarillo;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $margen-chico;

    .campos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.form_1 .campos_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $margen-chico;

    p {
        text-align: center;
    }

    input {
        background-color: $salmon;
        color: $beige;
        border: none;
        padding: $margen-mini;
    }
}
