.body_alimentacion {
    margin-top: 3.6rem;
}

.grid-alim {
    display: grid;
    /*width: 80%;
    height: 500px;*/
    margin: 30px auto;
    grid-column: 1fr;
    grid-template-rows: repeat(3, 1fe);
    grid-template-areas:  
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3";
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
        img {
            width: 100%;
            height: 100%;
        }
}

.item {
    font-size: 2rem;
    color: #fff;
    font-family: $fuente-principal;
    text-align: center;
}

/*articulos*/
.contenedor_art {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin-top: 10px;
    margin-bottom: 10px;
    

    figure {
        position: relative;
        height: 350px;
        width: 350px;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }

    figure img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }

    figure .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(237,169,46,0.5);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        padding: 10px;
    }

    figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }

    h3 {
        margin-top: 70px;
        margin-bottom: 15px;
    }

    .titulo_capa {
        color: black;
    }

    .text_capa {
        color: black;
    }

}


