/*INICIO*/
.slider {
    padding-top: 3.6rem;
}

/*las_razas_mas_buscadas*/
h2 {
    font-family: $fuente-principal;
    font-size: $fuente-mediana;
    font-weight: 600;
    color: $azul;
    text-align: center;
    margin: 1rem;
}

/*Cards*/

.card-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card_tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: none;
    background-color:ghostwhite;
    padding: 10px 25px;
    border-radius: 3%;
    margin: 10px 0px;
        img {
            width: 60%;
        }

        .card-title- {
            font-family: $fuente-principal;
            font-size: $fuente-mediana;
            font-weight: 600;
            color: $verde;
            margin: .5rem 0rem;
        }

        .card-text- {
            font-family: $fuente-principal;
            font-size: $fuente-chica;
            font-weight: 300;
            margin: 15px;
            overflow: hidden;
            //text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;

        }
}

/*RAZA_DESTACADA_DEL_MES*/
.raza_destacada_del_mes {
    display: grid;
    grid-template-rows: 200px 50px 300px;
    background-color: $beige;
    margin-top: 1.5rem;
}

h3 {
    font-family: $fuente-principal;
    font-size: $fuente-mediana;
    font-weight: 600;
    color: $verde;
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    margin-left: 2.3rem;
    
}

p { 
    font-family: $fuente-principal;
    font-size: $fuente-chica;
    color: $azul;
    text-align: justify;
    margin: 15px 30px;
}

@media (min-width: $tablet) {
    .card-conteiner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    
    .raza_destacada_del_mes {
        grid-template-rows: 200px 50px 400px;
    }
}

@media (min-width: $desktop) {
    .card-conteiner {
        grid-template-columns: repeat(4, 1fr);
    }

    .card_tarjetas img {
        width: 11rem;
        margin-left: 0.7rem;
    }

    .card-title {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card-text {
        font-family: rubik;
        font-size: 1rem;
        text-align: justify;
        font-weight: 300;
        margin: 20px;
    }

    .img_golden_dest {
        width: 45%;
        margin-left: 370px;
    }
    
    .raza_destacada_del_mes {
        grid-template-rows: 200px 50px 300px;
    }

}

