
/*Paleta de colores*/
$azul: #4658a5;
$verde: #06ab78;
$amarillo: #eda92e;
$salmon: #dd8070;
$beige: #F7F5EA;

/*TAMAÑO DE LAS FUNTES*/

$fuente-principal: 'Rubik', sans-serif;
$fuente-grande: 2rem;
$fuente-mediana: 1.5rem;
$fuente-chica: 1rem;

/*TAMAÑO DE MARGENES*/
$margen-mini: 0.3rem;
$margen-chico: 1rem;
$margen-mediano: 2rem;
$margen-grande: 3rem;
$margen-XXL: 5rem;

/*Breackpoints*/
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;
$desktopL: 1200px;
